* {
    box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Kumbh+Sans');

body {
    padding: 0% 10% 0% 10%;
    font-family: 'Kumbh Sans', sans-serif;
}


.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 60px;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}


ul li {

    list-style-type: none;
    padding-right: 6%;
    display: inline;
    color: rgb(61, 51, 121);

}

li a {
    display: block;
    padding: 3%;
    text-decoration: none;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(231, 231, 231);

}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;

    #cart {
        width: 22px;
    }

    #profile {
        width: 50px;
        height: 50px;
    }
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0px 0px;
    padding-inline-start: 0px;

}

#images {
    display: flex;
    flex-direction: column;

}

#p1,
#p2,
#p3,
#p4 {

    display: flex;

}

#p5,
#p6,
#p7,
#p8 {
    width: 80px;
    height: 80px;

}

#intro {
    margin-bottom: 0;
    font-size: small;

}

#intro1 {
    margin-bottom: 0;
    font-weight: 700;
    margin-top: 0;

}


.sneak {
    color: rgb(252, 152, 116);
    padding-top: 46px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 100px; */
}

.grid>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-top: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.pa-2 {
    /* padding-left: 4px; */
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pa-3 {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pa-4 {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pa-5 {
    padding-left: 4px;
    /* padding-right: 4px; */
    padding-top: 2px;
    padding-bottom: 2px;
}

.py-15 {
    padding-top: 50px;
    padding-bottom: 25px;
}

.price-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-2 {}

.price-3 {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#dollar-1 {
    font-weight: 600;
    font-size: x-large;
    margin-right: 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
}

#dollar-2 {
    font-size: x-small;
    align-items: center;
    background-color: rgb(245, 238, 220);
    padding: 0.2em;
    border-radius: 0.3em;

}

#dollar-3 {
    margin-top: 0;
    font-size: small;
    color: rgba(75, 89, 104, 0.562);
    text-decoration: line-through;
    font-weight: 600;
}


#box1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: hsl(223, 64%, 98%);
    color: hsl(25, 88%, 83%);
    border-radius: 0.3em;
}

#box2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#box3 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: hsl(25, 88%, 83%);
    background-color: hsl(223, 64%, 98%);
    border-radius: 0.3em;

}

#box4 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}